body {
	font-family: 'Arial', sans-serif;
	background-color: #f3f3f3;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	background-color: #fff;
	padding: 32px 0 0 0;
}

header h1 {
	text-transform: uppercase;
	text-align: center;
	line-height: 30px
	color: #fff;
	font-family: "Cabin Sketch", sans-serif;
}

header h2 {
	text-align: center;
}

.main_menu {
	padding: 5px 9 5px 0;
	text-align: center;
	line-height: 32px;
	background-color: #818181;
}

ul.main.menu {
	margin-top: 15px;
}

.main_menu li {
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 16px;
}

.main_menu a {
	text-decoration: none;
	color: #fff;
	padding: 8px;
	font-variant: small-caps;
}

.main_menu a:hover {
	color: red;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s
}

#about {
	margin-top: -15px;
	padding: 5px 0;
	background-color: rgba(220,220,220, 0.5);
	text-align: center;	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 1.3;
	text-rendering: optimizeLegibility;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 ;
  grid-row: 1;
  border: 1px dotted black;

}

.one h2 {
	font-family: "Cabin Sketch", sans-serif;
	font-size: 3em;
	padding-left: 5%;
}

.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  border: 1px dotted black;
  padding: 20px;

}

.two span {
	font-family: "Cabin Sketch", sans-serif;
}

.three {
  grid-row: 2 / 5;
  grid-column: 1;

}

.three img {
	padding-left: 7px;
}

.four {
  grid-column: 2 / 4;
  grid-row: 3;
  border: 1px dotted black;
  padding: 20px;

}

.four span {
	font-family: "Cabin Sketch", sans-serif;
}
.five {
  grid-column: 2;
  grid-row: 4;
  border: 1px dotted black;
  padding: 20px;

}

.five span {
	font-family: "Cabin Sketch", sans-serif;
}

.six {
  grid-column: 3;
  grid-row: 4;
  border: 1px dotted black;
  padding: 20px;
}

.six span {
	font-family: "Cabin Sketch", sans-serif;
}

.six a {
	text-decoration: none;
}


.postcontainer {
	padding: 50px;
}


